body{
	margin: 0;
	padding: 0;
	background:url(../111_1519666343/fon.png) ;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
	font-family: 'Karla', sans-serif;
}
.clearfix:after{
	content: "";
	display: block;
	clear: all;
}

/*--------------------------------------------------
----------------------------------------------------*/
.nav{
	height: 70px;
	background-color: rgba(0, 0, 0, 0.95);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2
}
.nav label{
	 color: white;
	 margin: 20px 40px 0 0;
	 font-style: 36px;
	 display: none;
	 float: right;
}
#toggle{
	display: none;	
}

.menu{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	border-top: 6px solid #515312;
}
.menu a {
	display: inline-block;
	padding: 30px 3%;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;	
}
.menu span{
	float: right;
	padding: 30px 3%;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

.menu a:after{
	content: " ";
	display: block;
	height: 2px;
	background: #515312;
	transform: scale(0,1);
	transition-duration: 1s;
	transform-origin: left top;
}
.menu a:hover:after{
	transform: scale( 1,1);
}

/*--------------------------------------------------
----------------------------------------------------*/


h1{
	margin: 25% auto;
	text-align: center;
	font-size: 3em;
	text-shadow: 5px 5px 5px black;
	color: white;
}
.about, .expirience, .canido, .contact, .massage{
background-color: white;
padding: 100px 10%;
overflow: hidden;
}
	

h2{
	//text-align: center;
	//color: #E7D845;
	text-transform:uppercase;
	display: inline-block;
	border-bottom: 5px solid #E7D845;
	font-size: 2em;
	//margin: 5% auto; 
}
.h2{
	text-align: center;
}
/*h2:after{
	//content: " ";
	//display: inline-block;
	//height: 5px;
	//background: #E7D845;
}*/

/*--------------------------------------------------
----------------------------------------------------*/

.about img{
	width: 20%;
	float: left;
	margin-right: 2%;
}
.about p{
	margin: 0;
	width: 56%;
	line-height: 1.2em;
	font-size: 0.8em;
	color: #828282;
	float: right;

}

/*--------------------------------------------------
----------------------------------------------------*/

.expirience img{
	width: 100%;
	
}
.expirience img{

}
.box{
	position: relative;
	overflow: hidden;
	width: 49%;
	float: left;
	
	margin-bottom: 2%;
	
}
.left{
margin-right: 2%;
}
.dark3, .dark4, .dark5,.dark6{
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	background-color: rgba( 0, 0, 0, 0.5);
	//z-index: -1;
	opacity: 0; /* З-індекс не плавний*/
	transition-duration: 1s;
	text-align: center;
	vertical-align: middle;

}
.expirience span{
	color: white;
	font-size: 2em;
	font-weight: bold;
	//vertical-align: middle;
	display: inline-block;
	margin-top: 30%;
}
.box:hover .dark3, 
.box:hover .dark4, 
.box:hover .dark5, 
.box:hover .dark6{
	//z-index: 2;
	opacity: 1;
}
.line_left, 
.line_right, 
.line_top, 
.line_bottom{
	position: absolute;
	background: #E7D845;
	transition-duration: 1s;
	}
.line_left, .line_top {
left: 0;
top: 0;
}

.line_right, .line_bottom{
right: 0;
bottom: 0;
}
.line_right, .line_left{
	height: 100%;
	width: 15px;
	transform:  scaleY(0);
}
.line_bottom, .line_top{
	height: 15px;
	width: 100%;
	transform:  scaleX(0);
}
.box:hover .line_left,
.box:hover .line_right{
	transform:  scaleY(1);
} 
.box:hover .line_top, 
.box:hover .line_bottom{
 transform:  scaleX(1);
}

/*--------------------------------------------------
----------------------------------------------------*/

.conteiner{
	overflow: hidden;
}
.box33{
	width: 33.3%;
	float: left;
	text-align: center;
}
.box33 p{
font-size: 1.2em;
font-weight: bold;
}
	.box33:hover .circle{
	background-position: right;
	}

.circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border:5px solid #E7D845;
	margin:0 auto;
	background: url(../111_1519666343/logo1.gif);
	transition-duration: 1s;
}

/*--------------------------------------------------
----------------------------------------------------*/

.map{
	text-align: center;
	margin-bottom: 10%
}
.relation{
	position: relative;
}
.relation_ratio{
	padding-top: 50%;
	height: 0;
}
.relation_content{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

iframe{
	width: 100%;
	height: 100%;
}
.contact .circle{
	transition-duration: 1s;
	transform-origin: center top;
	transform: scale(0);
}
.contact p{
	transform: translateY(100px);
	transition-duration: 1s;
	opacity: 0;
}
	.contact:hover .circle{
		transform: scale(1);
	}	
	.contact:hover p{
		transform: translateY(0px);
		opacity: 1;
	}	

/*--------------------------------------------------
----------------------------------------------------*/


	fieldset{
		margin: 0;
		padding: 10px;
		border: 0;
		text-align: center
	}
	label {
		font-weight: bold;
		text-align: center;
	}
	input, textarea{
		border: 0;
		border-bottom: 2px solid black;
		padding: 10px;
		width: 70%
	}
	.clearfix{
		margin-bottom: 5%
	}
	.name, .email{
		width: 48%;
	}
	.name{
		float: left;
	}
	.email{
		float: right;
	}

/*--------------------------------------------------
----------------------------------------------------*/


	.dbt{
		text-align: center;
		position: relative;
		overflow: hidden;
		width: 150px;
		height: 70px;
		margin: 0 auto;
	}
	.bt{
		width: 150px;
		height: 70px;
		text-transform: uppercase;
		padding: auto;
		border: 2px solid #E7D845;
		color: #E7D845;
		font-weight: bold;
		/*margin: 0 auto;*/
		background: white;
		text-align: center;
		
	}
	
	.black{

		width: 200px;
		height: 70px;
		position: absolute;
		top: 0;
		background: black;
		display: block;
		transform: skewX(45deg) scaleX(0);
		transition-duration: 1s;
		left:-25px;
		color: white;
	}
	.dbt:hover .black{
		transform: skewX(20deg)  scaleX(1);
	}
	.text{
		width: 150px;
		height: 70px;
		position: absolute;
		top: 0;
		left: 0;
		color: white;
		z-index: 2;
		box-sizing: border-box;
		text-transform: uppercase;
		/*border: 2px solid #E7D845;*/
		vertical-align: middle;
		padding: 25px;
		opacity: 0
}
.dbt:hover .text{
	opacity: 1;
}

/*--------------------------------------------------
----------------------------------------------------*/

@media screen and (max-width: 865px) {
.menu a,
.menu span {
	padding: 25px 5px;
	font-weight: normal ;
}

@media screen and (max-width: 650px) {
h1{
	
	font-size: 1.5em;
	text-shadow: 2px 2px 2px black;
}
.about, .expirience, .canido, .contact, .massage{
	padding: 30px 10px;
}	
.nav label{
display: block;
cursor: pointer;
float: right;
}
.menu{
	text-align: center;	
	width: 100%;
	display: none;
	margin-top: 70px;
	border-top:none; 

}
.menu a{
	line-height: 70px;
	display: block;
	border-bottom: 2px solid white;
	padding: 0;
}
.menu span{
	display: none;
}
#toggle:checked + .menu{
	display: block;
}
.menu a:checked + .menu{
	display: none;
}
.about img{
	width: 50%;
	margin: 0 auto 10px;
}

.about p{
	width: 100%
}
.box{
	width: 100%;
}
.contact .circle{
	transform: scale(1);
}
.contact p{
	transform: translateY(0px);
	opacity: 1;
	font-size: 1em;
	font-weight: normal;
}
/*iframe{
	width: 100%;
}*/
}
@media screen and (max-width: 425px) {
.about, .expirience, .canido, .contact, .massage{
	padding: 10px 2px;
}		

h2{
	//text-align: center;
	//color: #E7D845;
	text-transform:uppercase;
	display: inline-block;
	border-bottom: 5px solid #E7D845;
	font-size: 1.1em;
	//margin: 5% auto; 
}
/*.menu a, .menu span {
	padding: 2px 1%;
	font-size: 0.5em;
	}*/
.about img{
	float: none;
	width: 100%;
	margin: 0 auto
}
.box33{
	width: 100%;
	float: none;
}
.box33 p{
	font-size: 1em;
	font-weight: normal;
}
.name, .email{
	display: block;
	width: 100%;
	float: none
}
.name{
	margin-bottom: 20px;
}
}
